body{
	background: rgb(32, 32, 32);
}

.inicio{
    --opacidad-negro: 0.4;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/galeria/renderA.jpg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar img{
    width: 2rem;
    margin-right: 1rem;
}
/*---------------Whatsapp-------------------*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:50px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:40px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}
.float{
	margin-top:16px;
}
/*---------------/Whatsapp-------------------*/
/*-------------Btn----------------------*/
.btn{
	font-family: 'Roboto Flex', sans-serif;
    position: relative;
    padding: 20px 50px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 8px;
    text-indent: 10px;
    z-index: 2;
}
.btn{
    transition: all 0.6s ease;
}

.btn::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 110%;
    left: -10%;
    top: 0;
    transform: skew(20deg, 0deg);
    background-color: #ffffff;
    z-index: -1;
    transition: all 0.4s ease;
}

.btn::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 3px solid #e4fd03;
    transition: all 0.4s ease;
    z-index: -1;
}

.btn:hover::after{
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(320px);
}

.btn:hover::before{
    background-color: #ccc903;
    border: 3px solid #949702;
    transform: skew(20deg, 0deg) scale(1.1);
}
/*-------------/Btn----------------------*/
.text-ini{
    padding-top: 6rem;
    color: white;
}
h2{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 3rem;
	color: #ffffff;
}
p{
	font-family: 'Roboto Flex', sans-serif;
	color: #000000;

}
.p1{
	font-family: 'Roboto Flex', sans-serif;
	color: #ffffff;

}
.galeria img{
    border-radius: 10px;

}

/*--------------/Contacto---------------*/
	/*Btn1*/
.btn1{
	font-family: 'Roboto Flex', sans-serif;
    position: relative;
    padding: 20px 50px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 8px;
    text-indent: 10px;
    z-index: 2;
}
.btn1{
    transition: all 0.6s ease;
}

.btn1::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 110%;
    left: -10%;
    top: 0;
    transform: skew(20deg, 0deg);
    background-color: #ffffff;
    z-index: -1;
    transition: all 0.4s ease;
}

.btn1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 3px solid #03cc57;
    transition: all 0.4s ease;
    z-index: -1;
}

.btn1:hover::after{
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(222px);
}

.btn1:hover::before{
    background-color: #03cc57;
    border: 3px solid #029740;
    transform: skew(20deg, 0deg) scale(1.1);
}
	/*/Btn1*/
.form-label, h4, .bi{
	color: white;
}
	
/*--------------/Contacto---------------*/
/*--------------imagen------------------*/
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(255,255,255,0.9);
}
.caption{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.thumbnail:hover{
    transform: translateY(-4px);
}
.img-container:hover .overlay{
    opacity: 1;
}
/*--------------imagen------------------*/
.text-blanco{
	font-family: 'Roboto Flex', sans-serif;
	color: #ffffff;
}
/*-------------navbar----------------------*/
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.inicio {
		padding-top: 0.1rem;
	}
	.img-container img{
        width: 100%;
    }
	.col-md-5{
		padding-top: 3rem;
	}
}
/*----------------/Empresa------------------------*/